exam_web_service_client/src/main/java/employee/employee.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="EmployeeServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:9000/employee?xsd=1"/>
</xsd:schema>
</types>
<message name="getEmployees">
<part name="parameters" element="tns:getEmployees"/>
</message>
<message name="getEmployeesResponse">
<part name="parameters" element="tns:getEmployeesResponse"/>
</message>
<message name="getE">
<part name="parameters" element="tns:getE"/>
</message>
<message name="getEResponse">
<part name="parameters" element="tns:getEResponse"/>
</message>
<message name="addEmployees">
<part name="parameters" element="tns:addEmployees"/>
</message>
<message name="addEmployeesResponse">
<part name="parameters" element="tns:addEmployeesResponse"/>
</message>
<message name="updateEmployees">
<part name="parameters" element="tns:updateEmployees"/>
</message>
<message name="updateEmployeesResponse">
<part name="parameters" element="tns:updateEmployeesResponse"/>
</message>
<portType name="EmployeeService">
<operation name="getEmployees">
<input wsam:Action="http://service/EmployeeService/getEmployeesRequest" message="tns:getEmployees"/>
<output wsam:Action="http://service/EmployeeService/getEmployeesResponse" message="tns:getEmployeesResponse"/>
</operation>
<operation name="getE">
<input wsam:Action="http://service/EmployeeService/getERequest" message="tns:getE"/>
<output wsam:Action="http://service/EmployeeService/getEResponse" message="tns:getEResponse"/>
</operation>
<operation name="addEmployees">
<input wsam:Action="http://service/EmployeeService/addEmployeesRequest" message="tns:addEmployees"/>
<output wsam:Action="http://service/EmployeeService/addEmployeesResponse" message="tns:addEmployeesResponse"/>
</operation>
<operation name="updateEmployees">
<input wsam:Action="http://service/EmployeeService/updateEmployeesRequest" message="tns:updateEmployees"/>
<output wsam:Action="http://service/EmployeeService/updateEmployeesResponse" message="tns:updateEmployeesResponse"/>
</operation>
</portType>
<binding name="EmployeeServicePortBinding" type="tns:EmployeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmployees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeServiceService">
<port name="EmployeeServicePort" binding="tns:EmployeeServicePortBinding">
<soap:address location="http://localhost:9000/employee"/>
</port>
</service>
</definitions>